<!DOCTYPE html>
<html>
<head>
  <title>CacheStache - Cache Hit Rate Insights</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "cache_stache/pico", media: "all" %>
  <%= stylesheet_link_tag "cache_stache/application", media: "all" %>
</head>
<body>
  <main>
    <%= yield %>
  </main>
</body>
</html>
